nav {
  height: 55px;
  // padding: 0 12px 0 24px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: 300;
  border-bottom: 1px solid rgba(60, 60, 60, 0.12);

  .logo {
    height: 100%;
    // margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      height: 100%;
      img {
        height: 100%;
      }
    }

    p {
      height: 100%;
      font-size: 28px;
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      margin-left: 5px;
      color: black;
    }
  }

  .links {
    margin-right: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
      padding: 5px 10px 5px 10px;
    }

    a:hover {
      color: rgb(180, 180, 180);
    }
  }
}
